<div class="container">
    <h3>Unos novog procesa</h3>

    <form #form="ngForm" (submit)="submitForm(form)" novalidate>

        <div class="form-group">
             <label class="control-label">Naziv</label>
             <input type="text" required class="form-control" name="naziv" [(ngModel)]="model.naziv" />
        </div>

        <div class="form-group">
             <label class="control-label">Opis</label>
              <input type="text" required class="form-control" name="opis" [(ngModel)]="model.opis" />
        </div>
        
        <div class="form-group">
             <label class="control-label">Prioritet</label>
             <input type="text" required class="form-control" name="prioritet" [(ngModel)]="model.prioritet" />
        </div>

        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
</div>